---
layout: page
published: true
title: Publikationen
---

<section>
    <div class="wrapper">
        <h2>Publikationen</h2>
        <p>Hier finden sich alle Veröffentlichungen vom Bündnis F5 - sowohl Stellungnahmen als auch Artikel auf medialen Plattformen.</p>
        {% assign publikationen = site.publikationen | sort: 'date' | reverse %}
        {% for publikation in publikationen %}
        <article class="publication-list">
            <p class="publication-date">{{ publikation.date | date: "%-d %B %Y" }}<span class="publication-category">{{ publikation.category }}</span></p>
            <h1 class="publication-title"><a href="{{ publikation.url }}">{{ publikation.title }}</a></h1>
            {% if publikation.subtitle %}<p class="publication-subtitle">{{ publikation.subtitle }}</p>{% endif %}
            <div class="publication-summary">{{ publikation.content | truncatewords:40 | strip_html }}</div>
            {% if publikation.authors %}
            <hr>
            {% assign authors =  publikation.authors | join: ','  | split: ',' %}
            <p class="publication-authors">{% for author in authors %}<span class="publication-author">{{ author }}</span>{% endfor %}</p>
            {% endif %}
        </article>
        <hr class="light-hr">
        {% endfor %}
    </div>
</section>
