<footer>
    <p>Copyright {{ 'now' | date: "%Y" }} OKFN</p>
    <div class="social-icons">
        <a href="#" title="GitHub" target="_blank" rel="noopener noreferrer"><img
                src="{{ site.baseurl }}/assets/images/icons/github.svg"></a>
        <a href="#" title="Facebook" target="_blank" rel="noopener noreferrer"><img
                src="{{ site.baseurl }}/assets/images/icons/facebook.svg"></a>
        <a href="#" title="Instagram" target="_blank" rel="noopener noreferrer"><img
                src="{{ site.baseurl }}/assets/images/icons/instagram.svg"></a>
        <a href="#" title="Twitter" target="_blank" rel="noopener noreferrer"><img
                src="{{ site.baseurl }}/assets/images/icons/twitter.svg"></a>
    </div>
</footer>