<footer>
    <div>
        <div style="margin-bottom: 3em;">
            <h2>Newsletter</h2>
            <form method="post" action="https://t874ad7c5.emailsys1a.net/191/1277771/cd7b0c18c0/subscribe/form.html?_g=1696947154">
                <input type="text" value="" name="email" id="email" placeholder="E-Mail"
                    required="">
                <span>
                    <button type="submit">anmelden</button>
                </span>
            </form>
        </div>

        Gefördert durch:<br>
        <img class="img-responsive-height" src="{{ site.baseurl }}/assets/images/logos/Stiftung Mercator Blau RGB.png" alt="Stiftung Mercator Blau logo" width="250px"/>
        <p><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a> Bündnis F5</p>
    </div>
    <a href="{{ site.baseurl }}/impressum.html">Impressum</a>
</footer>
