<footer>
    <div class="sponsors-nav">
        <ul>
            <li>
                <a href="https://www.stiftung-mercator.de/de/" target="_blank">
                    Gefördert durch:<br>
                    <img class="img-responsive-height" src="{{ site.baseurl }}assets/images/logos/Stiftung Mercator Blau RGB.png"/>
                </a>
            </li>
        </ul>
    </div>
    <p><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a> Bündnis F5</p>
    <div class="social-icons">
       <a href="{{ site.baseurl }}/impressum.html">Impressum</a>
    </div>
</footer>
