<header class="pattern">
    <div class="wrapper">
        {% include nav.html %}
        <div class="row">
            <div>
                <p class="title">Wir sind f5</p>
                <h1><span>Wir</span> sind F5</h1>
                <p>Kern unserer Arbeit ist ein strukturierter Dialog mit Politikschaffenden zu Themen wie Digitalisierung staatlichen Handelns, Auswirkungen von KI auf Gesellschaft und Umwelt, Privatsphäre und digitale Sicherheit, Meinungs- und Informationsfreiheit, Einbindung der digitalen Zivilgesellschaft.</p>
            </div>
            <div class="partners hide-mobile">
                <div class="row">
                    <img style="width: 180.18px; hight: 47.139px;" src="{{ site.baseurl }}/assets/images/logos/rsf.png"
                         alt="Reporter ohne Grenzen Logo">
                    <img src="{{ site.baseurl }}/assets/images/logos/aw.svg" alt="Algorithm Watch Logo">
                </div>
                <div class="row">
                    <img src="{{ site.baseurl }}/assets/images/logos/wikimedia_de.svg" alt="Wikimedia Deutschland Logo">
                    <img src="{{ site.baseurl }}/assets/images/logos/okf.svg" alt="Open Knowledge Foundation Logo">
                </div>
                <div class="row">
                    <img src="{{ site.baseurl }}/assets/images/logos/gff.svg" alt="GFF Logo">
                </div>
            </div>
        </div>
    </div>
    <div id="forderungen"></div>
</header>
