<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
        {{ page.title }} - {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ site.baseurl }}/assets/images/share.png">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url"
        content="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/share.png">
    {% endif %}

    <meta property="og:image:type" content="image/png">
    <meta property="og:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/favicons/apple-touch-icon.png">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon.svg" color="#1B4D4D">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicons/site.webmanifest">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicons/favicon.svg" />
    <meta name="theme-color" content="#0e7490">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/bundle.min.js"></script>
</head>