<header class="pattern">
    <div class="wrapper">
        {% include nav.html %}
        <div class="row">
            <div>
                <p class="title">Wir sind f5</p>
                <h1><span>Gemeinwohl</span> statt Tech Konzerne im Mittelpunkt</h1>
                <p>Faxgeräte in Gesundheitsämtern, Schulen ohne E-Mail-Adressen, Millionen für verkorkste Apps – die
                    Pandemie
                    hat
                    schonungslos offengelegt, dass ein „Weiter so“ in der Digitalpolitik unsere Zukunft gefährdet - wir
                    brauchen
                    den
                    Neustart!</p>
            </div>
            <div class="partners hide-mobile">
                <div class="row">
                    <img src="{{ site.baseurl }}/assets/images/logos/reporters_sans_frontiers.svg"
                        alt="Reporters sans Frontiers Logo">
                    <img src="{{ site.baseurl }}/assets/images/logos/aw.svg" alt="Algorithm Watch Logo">
                </div>
                <div class="row">
                    <img src="{{ site.baseurl }}/assets/images/logos/wikimedia_de.svg" alt="Wikimedia Deutschland Logo">
                    <img src="{{ site.baseurl }}/assets/images/logos/okf.svg" alt="Open Knowledge Foundation Logo">
                </div>
                <div class="row">
                    <img src="{{ site.baseurl }}/assets/images/logos/gff.svg" alt="GFF Logo">
                </div>
            </div>
        </div>
    </div>
    <div id="forderungen"></div>
</header>
